*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

button{
    height: 3em;
    border-radius: 1em;
    background: linear-gradient(#c8003ccc, #3030ffcc);
    padding: 1em;
    color: #fff;
    border-style: none;
    cursor: pointer;
    background-size: 200% 200%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#header{
    display: flex;
    background-color: #FFFF00;
    height: 10vh;
    width: 100vw;
    color: #000;
    justify-content: space-around;
    align-items: center;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#banner{
    background-color: #000;
    width: 33vw;
    text-align: center;
    padding: auto;
    color: #fff;
}

#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    background-color: #55F;

}

.menuitem{
    height: 5em;
    text-align: center;
}

td{
    width: 20em;
    height: 5em;
    text-align: center;
}

#B1{
    background-color: #0f0;
}

#B2{
    background-color: #f00;
}

#B3{
    background-color: #f50;
}

#B4{
  background-color: #55F;
}

#B5{
    background-color: #55F;
}

#B6{
    background-color: #f50;
}

#B7{
    background-color: #f00;
}

#B8{
    background-color: #0f0;
}

#um{
    background-color: #0f0;
}

#dois{
    background-color: #f00;
}

#tres{
    background-color: #f50;
}

#quatro{
    background-color: #55F;
}

#rightmain{
    background-color: blue;
    width: 33vw;
}

#promocoes{
    display: flex;
    flex-direction: row;
    height: 30vh;
    justify-content: space-around;
    background-color: #ff0;
}

.promo{
    background-color: #ffffff99;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 1em 2em #808080;
    padding: 1em;
    margin: 2em;
    width: 40%;
    background-color: #f50;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footerleft{
    width: 60vw;
    background-color: #f00;
    height: 10vh;
}

#footerright{
    width: 40vw;
    color: #fff;
    background-color: #000;
    height: 10vh;
}